%h1 Edit your Profile page
%br/
%center
  .list-group#draggableList
    - @profile.images.each do |img|
      .list-group-item
        = image_tag(attachment_url(img, :file, :fit, 400, 400))
        %span{ class: 'ion-arrow-move', 'aria-hidden' => 'true' }
        
.col-md-8
  = form_for @profile do |f|

    = form_group_tag(@profile.errors[:name]) do
      = f.label :name
      = f.text_field :name, class: 'form-control',
        placeholder: "Enter your name here"

    = form_group_tag(@profile.errors[:tagline]) do
      = f.label :tagline
      = f.text_field :tagline, class: 'form-control',
        placeholder: "Enter a 1-line description"

    = form_group_tag(@profile.errors[:statement]) do
      = f.label :statement
      = f.text_area :statement, rows: 8, class: 'form-control',
        placeholder: "Enter your Artist's Statement here"

    = form_group_tag(@profile.errors[:info]) do
      = f.label :info
      = f.text_area :info, rows: 12, class: 'form-control',
        placeholder: "Write anything you like here"

    %h3 Images
    #images
      = f.fields_for :images do |image|
        = render 'shared/image_fields', f: image
      .links
        = link_to_add_association 'add image', f, :images, partial: 'shared/image_fields'
    %br/
    = f.submit "Save", class: 'btn btn-success'
