%h1 Edit your Artwork Listing
%br/
%center
  .list-group#draggableList
    - @artwork.images.each do |img|
      = div_for(img, class: 'list-group-item') do
        = image_tag(attachment_url(img, :file, :fit, 400, 400))
        %span{ class: 'ion-arrow-move', 'aria-hidden' => 'true' }

.col-md-8
  = form_for @artwork do |f|
    = form_group_tag(@artwork.errors[:title]) do
      = f.label :title
      = f.text_field :title, class: 'form-control',
        placeholder: "Enter the title of your piece here"

    = form_group_tag(@artwork.errors[:category]) do
      = f.label :category
      = f.text_field :category_list, class: 'form-control',
        placeholder: "Enter a category/categories e.g. Landscapes, separated by commas"

    = form_group_tag(@artwork.errors[:description]) do
      = f.label :description
      = f.text_area :description, rows: 4, class: 'form-control',
        placeholder:  "Enter a brief description of your piece here"

    = form_group_tag(@artwork.errors[:price]) do
      = f.label :price
      = f.number_field :price, class: 'form-control form-narrow',
        placeholder: "Enter a price in USD here"

    = form_group_tag(@artwork.errors[:discount]) do
      = f.label :discount
      = f.number_field :discount, class: 'form-control form-narrow',
        placeholder: "Enter an optional discount % here"

    %h3 Images
    #images
      = f.fields_for :images do |image|
        = render 'shared/image_fields', f: image
      .links
        = link_to_add_association 'add image', f, :images, partial: 'shared/image_fields'
    %br/
    = f.submit "Save", class: 'btn btn-success'
