%br/
%center
  - @artwork.images.each do |img|
    = image_tag(attachment_url(img, :file, :fit, 400, 400))

%h1= @artwork.title
%h3= @artwork.category_list
%p= @artwork.description
%p= number_to_currency(@artwork.price)

= form_tag purchases_path(id: @artwork.id) do
  %article
    - if flash[:error].present?
      #error_explanation
        %p= flash[:error]

  %script.stripe-button{ :src => "https://checkout.stripe.com/checkout.js",
  "data-amount" => "#{@stripe_btn_data[:amount]}",
  "data-description" => "#{@stripe_btn_data[:description]}",
  "data-key" => "#{@stripe_btn_data[:key]}",
  "data-currency" => "usd",
  "data-image" => "#{attachment_url(@artwork.images.first, :file)}",
  "data-name" => "Easel",
  "data-locale" => "auto" }
